{% extends "imagestore/base.html" %}
{% load i18n %}
{% load thumbnail widget_tweaks %}


{% block title %}
    {% trans "Create album" %}
{% endblock %}

{% block imagestore-breadcrumb %}
    <li>
        {% if object %}
            {% trans "Edit album" %}: {{ object.name }}
        {% else %}
            {% trans "Create album" %}
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    <div>
        <p class="radioColor fontSize16 bottomHalfGutter">
            {% if object %}
                {% trans "Edit album" %}: {{ object.name }}
            {% else %}
                {% trans "Create album" %}
            {% endif %}
        </p>
    </div>
    <form action="{{ request.get_full_path }}" method="post" class='album-form' style="position:relative;">
    {% csrf_token %}
    {% for field in form %}
        {% if field.label == form.name.label %}
            {% render_field field placeholder=field.label class="textField pull-left" %}
            <div>
            </div>
        {% else %}
            {% render_field field style="display:none" %}
        {% endif %}
    {% endfor %}
    {% comment %}
        {{ form.as_p }}
    {% endcomment %}
    <input type="submit" value="{% trans "GO" %}" class='makeYellowButton fontTitillium radioColor fontSize15 noGutter pull-left' style="margin-bottom:1px;padding-left: 20px;padding-right: 20px;">
    </form>
{% endblock content %}